html {
    height: 1500px;
    background-color: lightseagreen;
}
.menu {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
    padding: 10px;
}
.buah {

    text-align: center;
    height: 20px 20px 20px;
    padding: 10px;
    background-color: aqua;
    text-decoration: none;
}

.buah:hover {
    color: black;
    background-color: darkcyan;
}